<div class="prediction">
	<center>
		<h3>Predicted Winner: <span title="{{ result }}" style="color:rgb(192,80,77); font-weight: bold;">{{ winner }}</span></h3>
	<hr style="border-top: dotted 1px; color: rgb(192,80,77);" />
	<h4>
		Actual Winner: {{ actual }}
		<br><br>
		{% if correct %}
		<span class="label label-success">Correct Prediction</span>
		{% else %}
		<span class="label label-danger">Incorrect Prediction</span>
		{% endif %}
		{% if low_confidence %}
		<span class="label label-warning">Low Confidence</span>
		{% endif %}
	</h4>
</center>
		
		<hr>
</div>
